{# templates/marquePage/detail.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails du Marque-Page{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{% trans %}MarqueP.detail_marqueP{% endtrans %}</h1>

    <table class="table-custom">
        <thead>
            <tr>
                <th scope="col">{% trans %}Transversal.libelle{% endtrans %}</th>
                <th scope="col">{% trans %}Transversal.valeur{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"> id </th>
                <td>{{ marquePage.id }}</td>
            </tr>
            <tr>
                <th scope="row"> url </th>
                <td>{{ marquePage.url }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans %}Transversal.Commentaire{% endtrans %}</th>
                <td>{{ marquePage.commentaire }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans %}MarqueP.date_creation{% endtrans %}</th>
                <td>{{ marquePage.dateCreation|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th scope="row">{% trans %}Transversal.Mots_Cles{% endtrans %}</th>
                <td>
                    {% for mc in marquePage.motCles %}
                        - {{ mc.libelle }} <br>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <a href="http://localhost:8000/{{_locale}}/marque">{% trans %}MarqueP.retour_marqueP{% endtrans %}</a>
</div>
{% endblock %}