{% extends 'base.html.twig' %}

{% block title %}Ajouter un marque page{% endblock %}

{% block stylesheets %}
    <style>
        .form-group {
            margin-bottom: 20px;
        }

        h5{
            font-weight: bold;
        }

        .form-control {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .btn {
            background-color: #007bff;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        .btn-ajoutermc {
            font-size: 1vw;
            font-weight: bold;
            text-decoration: none;
        }

    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Transversal.Marques_Pages{% endtrans %}</h1>

        {{ form_start(form) }}
        
        <div class="form-group">
            <h5>URL</h5>
            {{ form_widget(form.Url, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <h5>{% trans %}MarqueP.date_creation{% endtrans %}</h5>
            {{ form_widget(form.DateCreation, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <h5>{% trans %}Transversal.Commentaire{% endtrans %}</h5>
            {{ form_widget(form.Commentaire, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            <h5>{% trans %}Transversal.Mots_Cles{% endtrans %}</h5>
            {% for motCle in form.motCles %}
            <div>
                {{ form_widget(motCle, {'attr': {'class': 'form-check-input'}}) }}
                {{ form_label(motCle) }}
            </div>
            {% endfor %}
        </div>

        <a class="btn-ajoutermc" href="http://localhost:8000/{{_locale}}/marque/motcleAjout">--> {% trans %}Accueil.MotCle.ajouter_mot_cle{% endtrans %}</a><br><br>

        <div class="form-group">
            {{ form_widget(form.Valider, {'attr': {'class': 'btn'}}) }}
        </div>
        
        {{ form_end(form) }}

    </div>
{% endblock %}
