{# templates/marquePage/taleau.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des URL{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des URL</h1>

        <a class="btn-ajouter" href="http://localhost:8000/marque/ajout">Ajouter un marque page</a><br><br>

        {% if marquesP is not empty %}
            <table class="table-custom">
                <thead>
                    <tr>
                        <th>Url</th>
                        <th>Date de création</th>
                        <th>Commentaire</th>
                        <th>Détails</th>
                        <th>Modifier</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mp in marquesP %}
                        <tr>
                            <td><a href="{{ mp.url }}" target="_blank">{{ mp.url }}</a></td>
                            <td>{{ mp.dateCreation | date("d/m/Y") }}</td>
                            <td>{{ mp.commentaire }}</td>
                            <td><a href="http://localhost:8000/marque/detail/{{mp.id}}">Détails</a></td>
                            <td><a href="http://localhost:8000/marque/modifMP/{{mp.id}}">Modifier</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>Aucune URL trouvé.</p>
        {% endif %}
    </div>
{% endblock %} 