{# templates/marquePage/taleau.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Liste des URL{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}MarqueP.liste_URL{% endtrans %}</h1>

        <a class="btn-ajouter" href="http://localhost:8000/{{_locale}}/marque/ajout">{% trans %}Accueil.MarqueP.ajouter_marque_page{% endtrans %}</a><br><br>

        {% if marquesP is not empty %}
            <table class="table-custom">
                <thead>
                    <tr>
                        <th>Url</th>
                        <th>{% trans %}MarqueP.date_creation{% endtrans %}</th>
                        <th>{% trans %}Transversal.Commentaire{% endtrans %}</th>
                        <th>{% trans %}Transversal.Details{% endtrans %}</th>
                        <th>{% trans %}Transversal.Modifier{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mp in marquesP %}
                        <tr>
                            <td><a href="{{ mp.url }}" target="_blank">{{ mp.url }}</a></td>
                            <td>{{ mp.dateCreation | date("d/m/Y") }}</td>
                            <td>{{ mp.commentaire }}</td>
                            <td><a href="http://localhost:8000/{{_locale}}/marque/detail/{{mp.id}}">{% trans %}Transversal.Details{% endtrans %}</a></td>
                            <td><a href="http://localhost:8000/{{_locale}}/marque/modifMP/{{mp.id}}">{% trans %}Transversal.Modifier{% endtrans %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p>{% trans %}MarqueP.auncun_marqueP{% endtrans %}</p>
        {% endif %}
    </div>
{% endblock %} 