{# templates/livre/detail.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails du Livre{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>{% trans %}Livre.detail_livre{% endtrans %}</h1>

    <table class="table-custom">
        <thead>
            <tr>
                <th scope="col">{% trans %}Transversal.libelle{% endtrans %}</th>
                <th scope="col">{% trans %}Transversal.valeur{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"> {% trans %}Livre.titre{% endtrans %}</th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th scope="row"> {% trans %}Livre.date_parution{% endtrans %}</th>
                <td>{{ livre.dateParution | date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th scope="row"> {% trans %}Transversal.Auteur{% endtrans %}</th>
                {% if livre.getAuteur() is not empty %}
                    <td>{{livre.getAuteur().nom}} {{livre.getAuteur().prenom}}</td>
                {% else %}
                    <td>Auteur inconnu</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row"> Nb pages </th>
                <td>{{ livre.nbPages }}</td>
                
            </tr>
        </tbody>
    </table>
    <a href="http://localhost:8000/{{_locale}}/livre">{% trans %}Livre.retour_livre{% endtrans %}</a>
</div>
{% endblock %}