{# templates/livre/detail.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Détails du Livre{% endblock %}

{% block stylesheets %}

{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Détails du Livre</h1>

    <table class="table-custom">
        <thead>
            <tr>
                <th scope="col">Libelle</th>
                <th scope="col">Valeur</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row"> Titre </th>
                <td>{{ livre.titre }}</td>
            </tr>
            <tr>
                <th scope="row"> Date Parution </th>
                <td>{{ livre.dateParution | date("d/m/Y") }}</td>
            </tr>
            <tr>
                <th scope="row"> Auteur </th>
                {% if livre.getAuteur() is not empty %}
                    <td>{{livre.getAuteur().nom}} {{livre.getAuteur().prenom}}</td>
                {% else %}
                    <td>Auteur inconnu</td>
                {% endif %}
            </tr>
            <tr>
                <th scope="row"> Nb pages </th>
                <td>{{ livre.nbPages }}</td>
                
            </tr>
        </tbody>
    </table>
    <a href="http://localhost:8000/livre"> Retour à la liste des livres</a>
</div>
{% endblock %}