{% extends 'base.html.twig' %}

{% block title %}Liste des Livres{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Livre.liste_livres{% endtrans %}</h1>

        <a class="btn-ajouter" href="http://localhost:8000/{{_locale}}/livre/ajout">{% trans %}Accueil.Livre.ajouter_livre{% endtrans %}</a><br><br>

        {% if livres is not empty %}
            <table class="table-custom">
                <thead>
                    <tr>
                        <th>{% trans %}Livre.titre{% endtrans %}</th>
                        <th>{% trans %}Transversal.Auteur{% endtrans %}</th>
                        <th>{% trans %}Livre.date_parution{% endtrans %}</th>
                        <th>Nb Pages</th>
                        <th>{% trans %}Transversal.Details{% endtrans %}</th>
                        <th>{% trans %}Transversal.Modifier{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in livres %}
                        <tr>
                            <td>{{ l.titre }}</td>
                            {% if l.getAuteur() is not empty %}
                                <td>{{ l.getAuteur().nom }} {{l.getAuteur().prenom}}</td>
                            {% else %}
                                <td>Auteur inconnu</td>
                            {% endif %}
                            <td>{{ l.dateParution | date("d/m/Y") }}</td>
                            <td>{{ l.nbPages }}</td>
                            <td><a href="http://localhost:8000/{{_locale}}/livre/detail/{{l.id}}">Détails</a></td>
                            <td><a href="http://localhost:8000/{{_locale}}/livre/modif/{{l.id}}">Modifier</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <br>
            <p>{% trans %}Livre.nb_livre_enregistre{% endtrans %} : {{ nbLivre[0][1] }}</p>
        {% else %}
            <p>{% trans %}Livre.auncun_livre{% endtrans %}</p>
        {% endif %}
    </div>
{% endblock %}