{% extends 'base.html.twig' %}

{% block title %}Liste des Auteurs{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Livre.liste_livre_auteur{% endtrans %} {{ nbLivre }} {% trans %}Transversal.Livres{% endtrans %}</h1>

        {% if listeAuteur is not empty %}
            <table class="table-custom">
                <thead>
                    <tr>
                        <th>{% trans %}Transversal.Nom{% endtrans %}</th>
                        <th>{% trans %}Transversal.prenom{% endtrans %}</th>
                        <th>{% trans %}Livre.nb_livre{% endtrans %}</th>
                        <th>{% trans %}Livre.liste_livre_auteur{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in listeAuteur %}
                        <tr>
                            <td>{{ l[0].nom }}</td>
                            <td>{{ l[0].prenom }} </td>
                            <td>{{ l.nombre_de_livres }} </td>
                            <td><a href="http://localhost:8000/{{_locale}}/auteur/liste/{{ l[0].id }}">Liste</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="http://localhost:8000/{{_locale}}/livre">{% trans %}Livre.retour_livre{% endtrans %}</a>
        {% else %}
            <p>{% trans %}Auteur.auncun_auteur{% endtrans %}</p>
            <a href="http://localhost:8000/{{_locale}}/livre">{% trans %}Livre.retour_livre{% endtrans %}</a>
        {% endif %}
    </div>
{% endblock %} 