{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
<style>
    .container {
        with: 20vw;
    }

    li {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        font-weight: bold;
    }

    h1 {
        font-family: courier;
        font-weight: bold;
    }
</style>

<div class="container">
   <h1>{% trans %}Transversal.Accueil{% endtrans %}</h1>
   <div class="accordion accordion-flush" id="accordionFlushExample">
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                {% trans %}Transversal.Employes{% endtrans %}
            </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <ul>
                    <li><a href="http://localhost:8000/{{_locale}}/employe"> --> {% trans %}Accueil.Employe.liste_employes{% endtrans %}</a></li>
                    <li><a href="http://localhost:8000/{{_locale}}/employe/ajout"> --> {% trans %}Accueil.Employe.ajouter_employe{% endtrans %}</a></li>
                </ul>
            </div>
        </div>


        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                {% trans %}Transversal.Marques_Pages{% endtrans %}
            </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <ul>
                    <li><a href="http://localhost:8000/{{_locale}}/marque/"> --> {% trans %}Accueil.MarqueP.liste_marques_pages{% endtrans %}</a></li>
                    <li><a href="http://localhost:8000/{{_locale}}/marque/ajout"> --> {% trans %}Accueil.MarqueP.ajouter_marque_page{% endtrans %}</a></li>
                </ul>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                {% trans %}Accueil.MotCle.motcle{% endtrans %}
            </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <ul>
                    <li><a href="http://localhost:8000/{{_locale}}/marque/motcle"> --> {% trans %}Accueil.MotCle.liste_mots_cles{% endtrans %}</a></li>
                    <li><a href="http://localhost:8000/{{_locale}}/marque/motcleAjout"> --> {% trans %}Accueil.MotCle.ajouter_mot_cle{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
        
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                {% trans %}Accueil.Livre.livre{% endtrans %}
            </button>
            </h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <ul>
                    <li><a href="http://localhost:8000/{{_locale}}/livre"> --> {% trans %}Accueil.Livre.liste_livres{% endtrans %}</a></li>
                    <li><a href="http://localhost:8000/{{_locale}}/livre/ajout"> --> {% trans %}Accueil.Livre.ajouter_livre{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                {% trans %}Transversal.Auteur{% endtrans %}
            </button>
            </h2>
            <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <ul>
                    <li><a href="http://localhost:8000/{{_locale}}/auteur"> --> {% trans %}Accueil.Auteur.liste_auteurs{% endtrans %}</a></li>
                    <li><a href="http://localhost:8000/{{_locale}}/auteur/ajout"> --> {% trans %}Accueil.Auteur.ajouter_auteur{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                {% trans %}Accueil.Faune.faune{% endtrans %}
            </button>
            </h2>
            <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <ul>
                    <li><a href="http://localhost:8000/{{_locale}}/cailloux/faune"> --> {% trans %}Accueil.Faune.liste_faune{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                {% trans %}Accueil.Flore.flore{% endtrans %}
            </button>
            </h2>
            <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <ul>
                    <li><a href="http://localhost:8000/{{_locale}}/cailloux/flore"> --> {% trans %}Accueil.Flore.liste_flore{% endtrans %}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
