{% extends 'base.html.twig' %}

{% block title %}Liste des Auteur{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Auteur.liste_auteurs{% endtrans %}</h1>

        <a class="btn-ajouter" href="http://localhost:8000/{{_locale}}/auteur/ajout">{% trans %}Accueil.Auteur.ajouter_auteur{% endtrans %}</a><br><br>

        {% if auteurs is not empty %}
            <table class="table-custom">
                <thead>
                    <tr>
                        <th>{% trans %}Transversal.Nom{% endtrans %}</th>
                        <th>{% trans %}Transversal.prenom{% endtrans %}</th>
                        <th>{% trans %}Transversal.Modifier{% endtrans %}</th>
                        <th>{% trans %}Auteur.liste_livres_auteur{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for a in auteurs %}
                        <tr>
                            <td>{{ a.nom }}</td>
                            <td>{{ a.prenom }}</td>
                            <td><a href="http://localhost:8000/{{_locale}}/auteur/modif/{{a.id}}">{% trans %}Transversal.Modifier{% endtrans %}</a></td>
                            <td><a href="http://localhost:8000/{{_locale}}/auteur/liste/{{a.id}}">{% trans %}Auteur.liste{% endtrans %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>{% trans %}Auteur.aucun_auteur{% endtrans %}</p>
        {% endif %}
    </div>
{% endblock %}