{% extends 'base.html.twig' %}

{% block title %}Liste des Livres{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Livre.liste_livre_auteur{% endtrans %} {{ auteurId }}</h1>

        {% if listeLivre is not empty %}
            <table class="table-custom">
                <thead>
                    <tr>
                        <th>{% trans %}Livre.titre{% endtrans %}</th>
                        <th>{% trans %}Transversal.Auteur{% endtrans %}</th>
                        <th>{% trans %}Livre.date_parution{% endtrans %}</th>
                        <th>Nb Page</th>
                        <th>{% trans %}Transversal.Details{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in listeLivre %}
                        <tr>
                            <td>{{ l.titre }}</td>
                            <td>{{ l.getAuteur().nom }} {{l.getAuteur().prenom}}</td>
                            <td>{{ l.dateParution | date("d/m/Y") }}</td>
                            <td>{{ l.nbPages }}</td>
                            <td><a href="http://localhost:8000/{{_locale}}/livre/detail/{{l.id}}">{% trans %}Transversal.Details{% endtrans %}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="http://localhost:8000/{{_locale}}/auteur/modif/{{ auteurId }}">{% trans %}Transversal.Modif_auteur{% endtrans %}</a><br>
            <a href="http://localhost:8000/{{_locale}}/auteur">{% trans %}Auteur.retour_auteur{% endtrans %}</a>
        {% else %}
            <p>Aucun livre trouvé.</p>
            <a href="http://localhost:8000/{{_locale}}/auteur">{% trans %}Auteur.retour_auteur{% endtrans %}</a>
        {% endif %}
    </div>
{% endblock %} 