{% extends 'base.html.twig' %}

{% block title %}Liste des Livres{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des Livres de l'auteur {{ auteurId }}</h1>

        {% if listeLivre is not empty %}
            <table class="table-custom">
                <thead>
                    <tr>
                        <th>Titre</th>
                        <th>Auteur</th>
                        <th>Date de parution</th>
                        <th>Nb Page</th>
                        <th>Détails</th>
                    </tr>
                </thead>
                <tbody>
                    {% for l in listeLivre %}
                        <tr>
                            <td>{{ l.titre }}</td>
                            <td>{{ l.getAuteurId().nom }} {{l.getAuteurId().prenom}}</td>
                            <td>{{ l.dateParution | date("d/m/Y") }}</td>
                            <td>{{ l.nbPages }}</td>
                            <td><a href="http://localhost:8000/livre/detail/{{l.id}}">Détails</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="http://localhost:8000/auteur/modif/{{ auteurId }}">Modifier l'auteur</a><br>
            <a href="http://localhost:8000/auteur"> Retour à la liste des auteurs</a>
        {% else %}
            <p>Aucun livre trouvé.</p>
            <a href="http://localhost:8000/auteur"> Retour à la liste des auteur</a>
        {% endif %}
    </div>
{% endblock %} 