{% extends 'base.html.twig' %}

{% block title %}Liste des Employés{% endblock %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{% trans %}Employe.liste_employes{% endtrans %}</h1>

        <a class="btn-ajouter" href="http://localhost:8000/{{_locale}}/employe/ajout">{% trans %}Accueil.Employe.ajouter_employe{% endtrans %}</a><br><br>


        {% if employes is not empty %}
            <table class="table-custom">
                <thead>
                    <tr>
                        <th>{% trans %}Transversal.Nom{% endtrans %}</th>
                        <th>{% trans %}Transversal.prenom{% endtrans %}</th>
                        <th>{% trans %}Employe.adresse{% endtrans %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for e in employes %}
                        <tr>
                            <td>{{ e.nom }}</td>
                            <td>{{ e.prenom }}</td>
                            {% if e.getAdresse() is not empty %}
                                <td>{{ e.getAdresse().rue }}, {{e.getAdresse().codePostal}} {{e.getAdresse().ville}}</td>
                            {% else %}
                                <td>Auteur inconnu</td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        {% else %}
            <p>{% trans %}Employe.aucun_employe{% endtrans %}</p>
        {% endif %}
    </div>
{% endblock %}